@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191C19;
  --text: #ffffff;
  --accent: #4CAE4F;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
